{% extends "encyclopedia/layout.html" %}
{%load static%}


{% block title %}
Access check
{% endblock %}

{% block body %}
    <div class="pass-container">
        <form  action="" method="post">
            {%csrf_token%}
            <input id="pw" style= "width: 100%; margin-bottom: 25px; text-align:center; padding-top" id="password" name="password" placeholder="Password here">
            <input id="sub" type="submit" style="margin:auto; width: 100%;" name="submit" value="submit"/>
        </form>


        <div id="mess">
        </div>
    </div>
    <script type="text/javascript"src="{% static 'encyclopedia/js/password.js' %}"></script> 
    

{% endblock %}